<div class="carousel"
  x-data="{
    skip: 1,
    next() {
      this.to((current, offset) => current + (offset * this.skip))
    },
    prev() {
      this.to((current, offset) => current - (offset * this.skip))
    },
    to(strategy) {
      let slider = this.$refs.slider
      let current = slider.scrollLeft
      let offset = slider.firstElementChild.getBoundingClientRect().width
      
      this.$refs.slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
    },
    focusableWhenVisible: {
      'x-intersect:enter'() {
        this.$el.removeAttribute('tabindex')
      },
      'x-intersect:leave'() {
        this.$el.setAttribute('tabindex', '-1')
      },
    }
  }"
  @keydown.left="prev"
  @keydown.right="next"
>
  <div class="carousel__wrapper">
    <button @click="prev" class="carousel__btn carousel__btn--prev btn btn--primary"> 
      <i class="material-icons-round">expand_more</i>
    </button>

    <ul x-ref="slider" class="carousel__list" tabindex="0">
      {% assign count = list.size | minus: 1  %}
      {% for i in (0..count) %}
      {% assign item = list[i] %}
      {% if item.url != page.url %}
          <li class="carousel__item">
            {% bookshop "card/small" bind: item.data btn_text: "+ Bekijk" btn_url: item.url %}
          </li>  
        {% endif %}
      {% endfor %}
    </ul>
    <button @click="next" class="carousel__btn carousel__btn--next btn btn--primary"> 
      <i class="material-icons-round">expand_more</i>
    </button>
  </div>
</div>
