@use 'sass:math';

$timeline-width: 12px;

.timeline {
  @extend %wrapper;
  display: flex;
  max-width: 800px;
  margin: 0 auto;

  &__list {
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    @include pseudo {
      top: 0;
      left: 0;
      height: 100%;
      width: $timeline-width;
      border-radius: $radius-base;
      background: $color-bg-light;
      border: $border-base;
    }
  }

  &__item {
    display: flex;
    padding-left: var(--space-300);
    margin-bottom: var(--space-500);

    @include media(1) {
      padding-left: var(--space-500);
    }

    @include pseudo {
      top: 0;
      left: math.div(20px - $timeline-width, -2);
      height: 20px;
      width: 20px;
      border-radius: $radius-base;
      background: $color-primary;
      transform: scale(0);
      transition: 0.7s cubic-bezier(0.33, 3.2, 0.68, 1);
    }

    &.shown {
      &::before {
        transform: scale(1);
      }

      .timeline__img {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: $radius-base;
    border: $border-base;

    opacity: 0;
    transform: translateY(25px);
    transition: all 0.75s ease;
    transition-delay: 0.33s;
  }
}
