/* Brand */
$color-primary: #FFCD2D;
$color-secondary: #99C244;

/* Text */
$color-text-light: #FFFFFF;
$color-text-base: #EFEFEF;
$color-text-dark: #9B9C99;

/* Backgrounds */
$color-bg-light: #282923;
$color-bg-base: #1E2019;
$color-bg-dark: #181A14; 

/* Feedback */
$color-success: $color-secondary;
$color-error: $color-primary;
$color-warning: red;

/* UX */
$color-link: $color-primary;
