---
layout: base
---

<div class="aanbod-single">
  <main class="aanbod-single__main">
    <img src="{{ afbeelding.image }}" alt="{{ afbeelding.alt }}" class="aanbod-single__img" />

    {%- comment -%}
    Not working for some weird reason: "missing alt error"
      {% image afbeelding.image, afbeelding.alt, "aanbod-single__img", "(max-width: 768px) 95vw, 55vw", "420, 600, 820" %}
    {%- endcomment -%}
    
    <div class="aanbod-single__content">
      <h2>{{ seo.seo_title }}</h2>
      <p class="editable">
        De 'Acht van Bolsward' is een combinatie van de route's 'Elfsteden' en 'Zuiderzee' welke in totaal &plusmn; 6 uren duurt. Na 's ochtends het onderste gedeelte te hebben gevaren is er een lunch in Het Veerhuys of De Wijnberg om daarna het vervolg te varen. Hou je van rust en ruimte op het water dan is dit een heerlijk arrangement. Als extra kan er aan boord nog worden gezorgd voor koffie/thee met Friese oranjekoek, gekoelde dranken naar keuze en een borrelplank.<br /><br />I.s.m.&nbsp;<a target="_blank" rel="noopener" href="https://www.hetveerhuysbolsward.nl">Het Veerhuys</a> en <a target="_blank" rel="noopener" href="https://wijnbergbolsward.nl">De Wijnberg</a>
      </p>
    </div>
  </main>

  {% if checklist.size > 0 %}
    <aside class="aanbod-single__aside">
      {% bookshop "card/checklist" live_render: false list: checklist title: title button: button %}
    </aside>
  {% elsif list.size > 0 %}
    <aside class="aanbod-single__aside">
      {% bookshop "card/info" live_render: false list: list title: title button: button %}
    </aside>
  {% endif %}
</div>

<section class="aanbod-carousel">
  <div class="aanbod-carousel__content">
    <h2 class="aanbod-carousel__h">Meer {{ tags[0] }} </h2>
  </div>

  {% assign tag = tags[0] %}
  {% bookshop "carousel/horizontal" live_render: false tag: tag  %}
</section>
