---
layout: base
collec: omgeving
---

<main class="aanbod">

{% bookshop "hero/base" bind: hero %}

{%- comment -%}
<div class="toolbar">
  <div class="toolbar__content">
    <select class="routes__sloep-filter select" x-model="activeRoute">
      <option value="">Alle routes</option>
      {% for item in collections.routes %}
        <option value="{{ item.fileSlug }}">{{ item.data.title }}</option>
      {% endfor %}
    </select>

    <div class="toolbar__search input input--filter">
      <input type="text" placeholder="Zoek op plaatsnaam" x-model="searchInput">
      <i class="material-icons-round">search</i>
    </div>
  </div>
</div>
{%- endcomment -%}

  <div class="grid">
    {% assign collection_count = collections[page.fileSlug].size | minus: 1  %}
    {% for i in (0..collection_count) %}
      {% assign item = collections[page.fileSlug][i]  %}

      {% bookshop "card/base" bind: item.data url: item.url  %}
      
    {% endfor %}
  </div>
</main>


