---
layout: base.liquid
steps:
  - label: Sloep
    url: /huren/
  - label: Dag en tijd
    url: #
  - label: Extra's
    url: /huren/extras/
  - label: Overzicht en betalen
    url: #
---

<div class="huren">
  <div class="huren__content">

    {% bookshop "huren/progress" steps: steps %}
    
    {% if alert.size > 0 %}
      <div class="huren-alert">
        <i class="material-icons-round">error_outline</i>
        <span>{{ alert }}</span>
      </div>
    {% endif %}

    <div class="huren-content">
      <h1 class="huren-content__h">
        {{ title }}
      </h1>
      <p class="huren-content__p">
        {{ description }}
      </p>
    </div>
    
    {{ content }}

  </div>
</div>
