---
layout: base
---
<main class="reserveren">

  <section class="reserveren__info">
    <span class="reserveren__span">Reserveren</span>
    <h1 class="reserveren__h">{{ info.titel }}</h1>
    <p class="reserveren__p">{{ info.text }}</p>
  </section>

  <div class="reserveren__app">
    {{ content }}
  </div>
</main>
