---
layout: base.liquid
_checklist_button: 
  text: Huren
  url: /
---

<main class="sloep">

  {% bookshop "gallery" gallery: gallery %}

  
  <div class="sloep__content-container">
    <div class="sloep__content">
      {{ content }}
    </div>
    <div class="sloep__checklist">
      {% capture url %} /reserveren/{{ page.fileSlug }} {% endcapture %}
      {% bookshop "card/checklist" bind: checklist title: 'Eigenschappen' btn_text: "Reserveren" btn_url: url %}
    </div>
  </div>
  
  <div class="sloep__banner">
    {% bookshop "banner" bind: banner %}
  </div>
  
  {% if timeline %}
    {% bookshop "timeline" list: timeline %}
  {% endif %}
</main>