---
page_title:
page_description:
map_url: https://www.google.com/maps/d/embed?mid=1EEsircj-l0YxHQc-RasH-Qlkhzjoubmp
---

<div class="contact">
  <div class="contact__cards">
    .
    
  </div>
  <div class="contact__content">

    <div class="contact__map">
      {% bookshop "map" url: map_url %}
    </div>

    <div class="contact__form">
      <h2 class="contact__h">Stuur een bericht</h2>
      {% bookshop "form" url: map_url %}
    </div>
  </div>
</div>