---
eleventyExcludeFromCollections: true
title: Debug page
---

<h1>{{ title }}</h1>


{% assign found = collections.routes | filterByFrontmatter: "omgeving", "bolsward" %}

{% for item in found %}
  {{ item.data.title }}
{% endfor %}