---
page_title: 'Hello World'
page_description:

_card_buttons:
  primary:
    text: Huren
    url: /
  secondary:
    text: + Meer info
    url: item.url
---

<main>
  <section class="index-sloepen">

    {% assign sloepen_count = collections.sloepen.size | minus: 1  %}
    {% for i in (0..sloepen_count) %}
      {% assign item = collections.sloepen[i]  %}
      {% bookshop "card/big" bind: item.data buttons: _card_buttons afbeelding: item.data.gallery[0] %}
    {% endfor %}

  </section>

  <section class="index-arrangementen">

    {%- comment -%}
    {% assign arrangementen_count = collections.arrangementen.size | minus: 1  %}
    {% for i in (0..arrangementen_count) %}
      {% assign item = collections.arrangementen[i]  %}
      {% bookshop "card/small" bind: item.data  %}
    {% endfor %}
    {%- endcomment -%}

  </section>
  {%- comment -%}
  {% bookshop "carousel" list: collections.sloepen  %}
  {%- endcomment -%}
</main>
