---
seo:
  page_title: 'Hello World'
  page_description:

_card_buttons:
  primary:
    text: Huren
    url: /
  secondary:
    text: + Meer info
    url: item.url

reviews:
  - title: Goede review 1
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, deleniti.
  - title: Goede review 2
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, deleniti.
  - title: Goede review ipsum
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, deleniti.

banner: 
  title: Ontdek de Friese wateren
  button:
    text: Reserveer nu
    url: /reserveren
  afbeelding:
    image: https://picsum.photos/1200/800?random=1
    alt: Omschrijving van mijn afbeelding
---

<main>
  <section class="index-hero">
    <img src="https://picsum.photos/1200/800?random=1" alt="" class="index-hero__img">
    <div class="index-hero__content">
      <h1 class="index-hero__h editable">Ontdek waterrijk Friesland</h1>
      <p class="index-hero__p editable">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <a href="#sloepen" class="index-hero__btn btn btn--primary btn--big editable">Bekijk de sloepen</a>
    </div>
  </section>
  
  <section class="index-sloepen" id="sloepen">

    {% assign sloepen_count = collections.sloepen.size | minus: 1  %}
    {% for i in (0..sloepen_count) %}
      {% assign item = collections.sloepen[i]  %}
      {% bookshop "card/big" bind: item.data buttons: _card_buttons afbeelding: item.data.gallery[0] %}
    {% endfor %}

  </section>
  
  <section class="index-routes">
    <div class="index-routes__wrapper">
      <div class="index-routes__map">
        {% bookshop "map" url: "https://www.google.com/maps/d/embed?mid=1-Gr8CUtQnISVsPaFX1spJl6q9tp5gW8y&usp=sharing" %}
      </div>
      <div class="index-routes__content">
        <h2 class="index-routes__h editable">Lorem ipsum</h2>
        <p class="index-routes__p editable">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore id pariatur perspiciatis culpa, sunt voluptatem!</p>
        <a href="/aanbod/routes" class="index-routes__btn btn btn--primary editable">Bekijk routes</a>
      </div>
    </div>

  </section>

  <section class="index-arrangementen">

    {%- comment -%}
    {% assign arrangementen_count = collections.arrangementen.size | minus: 1  %}
    {% for i in (0..arrangementen_count) %}
      {% assign item = collections.arrangementen[i]  %}
      {% bookshop "card/small" bind: item.data  %}
    {% endfor %}
    {%- endcomment -%}

  </section>

  <section class="index-reviews" x-data="{ active: 2 }">
    <div class="index-reviews__wrapper">
      <div class="index-reviews__content">
        <h2 class="index-reviews__h editable">Lorem ipsum</h2>
        <p class="index-reviews__p editable">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore id pariatur perspiciatis culpa, sunt voluptatem!</p>
        <a target="_blank" class="index-reviews__btn btn btn--secondary  editable" href="https://www.google.com/search?q=sloepverhuurbolsward&sxsrf=AOaemvKi6WuED6ZIDfwVFh5p8y4rm75npg%3A1641475267367&ei=w-zWYZ7kFaiDhbIP5a-80As&oq=sloepv&gs_lcp=Cgdnd3Mtd2l6EAMYADIECCMQJzIECCMQJzIFCAAQywEyBQgAEMsBMgUIABDLATIFCAAQywEyCwguEMcBEK8BEMsBMgUIABDLATIFCAAQywEyBQgAEMsBOgsILhDHARCjAhCRAjoFCAAQkQI6CwguEIAEEMcBENEDOgUIABCABDoKCC4QxwEQrwEQQzoKCC4QxwEQ0QMQQzoECAAQQzoECC4QQ0oECEEYAEoECEYYAFAAWP4DYOMMaABwAngAgAGIAYgBsgWSAQMxLjWYAQCgAQHAAQE&sclient=gws-wiz#lrd=0x47c8e9fd16a6ce6b:0x479366133393a674,1,,,">
          + Alle reviews
        </a>
      </div>

      {% bookshop "vertical" list: reviews %}

    </div>
  </section>

  <section class="index-banner">
    {% bookshop "banner" bind: banner %}
  </section>
</main>