---
---

<div class="hero hero--cols">
  <img src="/assets/img/sampleImg.jpg" alt="" class="hero__img">
  <div class="hero__content">
    <div class="hero__col">
      <i class="material-icons">flag</i>
      <p class="hero__p">Alle routes  starten en eindigen in principe in  Bolsward, het middelpunt van Súdwest Fryslân met een enorme diversiteit aan varen over sloten, grachten en meren.</p>
    </div>
    <div class="hero__col">
      <i class="material-icons">map</i>
      <p class="hero__p">Maak een keuze uit één van onze  sloepen en bekijk vervolgens de route mogelijkheden,  als je zelf vaart kan je de gekozen route als navigatie op je mobiele device gebruiken.</p>
    </div>
    <div class="hero__col">
      <i class="material-icons">local_cafe</i>
      <p class="hero__p">Huren van de sloep met schipper  is op aanvraag mogelijk met aanvullende catering zoals bijvoorbeeld koffie/thee met Friese oranjekoek, gekoelde drankjes of borrelplank.</p>
    </div>
  </div>
</div>

<div class="routes">
  <div class="routes__filters">
    <select name="Kies een sloep" class="route__filter">
      <option value=""></option>
    </select>
  </div>
  <div class="routes__kaart">

  </div>
  <div class="routes__info">
    
  </div>
</div>