---
_step: 1
seo:
  seo_title: 
  seo_description:

alert: Prijzen zijn te zien in de volgende stap

title: Kies je sloep
description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat nulla sit tristique tempor vel massa molestie amet. Quis at dui.
---

<section class="huren-sloepen">

  {% assign sloepen_count = collections.sloepen.size | minus: 1  %}
  {% for i in (0..sloepen_count) %}
    {% assign item = collections.sloepen[i]  %}
    {% capture url %}/huren/{{ item.fileSlug }} {% endcapture %}
    {% bookshop "card/big" bind: item.data btn_primary_text: "Kies deze sloep" btn_primary_url: url btn_secondary_text: "+ Meer info" btn_secondary_url: item.url afbeelding: item.data.gallery[0] %}
  {% endfor %}
</section>