---
_step: 2
seo:
  seo_title: 
  seo_description:

alert:

title: Kies je dag en tijd
description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat nulla sit tristique tempor vel massa molestie amet. Quis at dui.
---

<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/nl.js"></script>

<!-- <div class="picker" 
x-data="{
    secret: 'ST_OWY2ZDhlYjUtZGRhYy00Nzk2LTg0ZmItNWE3M2Q0YWQ2Mjg3NjM3ODMwMzcyNjA0OTQ1MjY4:',
    products: [],
    tijden: {
        ochtend: false,
        middag: false,
        avond: false
    },
    init() {
        let picker = flatpickr(this.$refs.picker, {
            mode: 'single',
            inline: true,
            dateFormat: 'd-m-Y',
            locale: 'nl',
            monthSelectorType: 'static',
            enable: {{ huren.dateRange | printJS }},
            onChange: (date, dateString) => {
                this.$refs.product.dataset.itemId = 'PETTER_' + dateString;
            }
        })
    },
    async fetchProducts() {
        const secret = 'ST_OWY2ZDhlYjUtZGRhYy00Nzk2LTg0ZmItNWE3M2Q0YWQ2Mjg3NjM3ODMwMzcyNjA0OTQ1MjY4' + ':'

        const request = await fetch('https://app.snipcart.com/api/products', {
            headers: {
                'Authorization': `Basic ${btoa(secret)}`,
                'Accept': 'application/json'
            }
        })
        await request.json().then(data => {
            this.products = data.items
        })
    } 
}"
x-init="fetchProducts()"
> -->

<div class="picker">
    <input class="w-full" x-ref="picker" type="text">

    <div class="picker-2">
        <div class="picker-2__header">
            <h3 class="picker-2__h">Routes</h3>
            <span class="picker-2__span">Selecteer één of meerdere</span>
        </div>
        <ul class="picker-2__list">
            <li class="picker-2__item" :class="tijden.ochtend ? 'selected' : ''" @click="tijden.ochtend = !tijden.ochtend">
                <span class="picker-2__item-label">Ochtend</span>
                <span>9:30 - 13:30</span>
            </li>
            <li class="picker-2__item" :class="tijden.middag ? 'selected' : ''" @click="tijden.middag = !tijden.middag">
                <span class="picker-2__item-label">Middag</span>
                <span>14:00 - 18:00</span>
            </li>
            <li class="picker-2__item" :class="tijden.avond ? 'selected' : ''" @click="tijden.avond = !tijden.avond">
                <span class="picker-2__item-label">Avond</span>
                <span>18:30 - 21:30</span>
            </li>
        </ul>
        <div class="picker-2__footer">
            <div class="picker-2__prijs">
                <span>Prijs:</span>
                <span class="picker-2__prijs-amount">€0,00</span>
            </div>
        </div>
    </div>
</div>


