---
eleventyExcludeFromCollections: true
title: Debug 
---
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="dates" x-data="getFirebase()">
    <span x-text="text"></span>
    <button @click="setText()">click</button>
</div>











<br>
<br>
<br>
<br>
<br>
<br>
<br>