---
eleventyExcludeFromCollections: true
title: Debug 
---
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/nl.js"></script>


<div class="dates" x-data="getFirebase()">
    <span x-text="text"></span>
    <button @click="setText()">click</button>
    <span x-text="await getAvailability()"></span>


    <div
        x-data="{
            selected: null,
            async init() {
                let picker = flatpickr(this.$refs.picker, {
                    mode: 'single',
                    inline: true,
                    dateFormat: 'j/n/Y',
                    locale: 'nl',
                    monthSelectorType: 'static',
                    enable: await getAvailability()
                })
            }
        }"
    >

    <input x-ref="picker" type="text" x-model="selected">


</div>


<!-- enable: await getAvailability(), -->











<br>
<br>
<br>
<br>
<br>
<br>
<br>