---
eleventyExcludeFromCollections: true
title: Debug 
---

<h1>{{ title }}</h1>


<button class="product btn btn--primary snipcart-add-item" x-ref="product"
data-item-id='TEST_PRODUCT2'
data-item-price="0"
data-item-url="/products.json"
data-item-name="Test product"

data-item-custom1-name="Ochtend"
data-item-custom1-type="checkbox"
data-item-custom1-options="true|false"

data-item-custom2-name="Middag"
data-item-custom2-type="checkbox"
data-item-custom2-options="true|false"
>
Door
</button>
