---
seo:
  seo_title: Sloep - boot huren in waterland van Friesland!
  seo_description: >-
    12-persoons sloep met schipper, 8-persoons elektrische sloep zelf varen.
    Groepen t/m 28 personen, catering, arrangementen.
hero_afbeelding:
  image: /assets/img/index-hero.jpg
  alt: Sloep huren in waterrijk Friesland
hero_banner: >-
  Goed Weer Garantie; bij slechte weersomstandigheden GRATIS omboeken of
  annuleren met 100% restitutie!
reviews:
  - title: Herman Bosman
    description: >-
      We hebben een prachtige dag met de Pettersloep gehad. We kregen een route
      van 6 uur die via Google Maps heel goed te volgen was. We kwamen op hele
      stille plekjes waarvan je dacht dat je daar niet eens kon varen. Maar het
      ging prima. De boot voer geweldig en fijn dat die elektrisch was, je
      hoorde niks. Wat ons betreft een aanrader!!!
  - title: Stefan De Vries
    description: >-
      Na een korte en duidelijke uitleg hebben we met ons gezin een stuk van de
      elfstedenroute gevaren (zijn meerdere routes mogelijk).  Het was een
      prachtige route in een mooie omgeving. Een rustgevende ervaring rijker.
      Eten, drinken mee, heerlijk weer. Kon niet beter, een aanrader! Gaan we
      zeker weer doen.
  - title: Maico Kroes
    description: >-
      Ik ben altijd heel sceptisch wanneer een bedrijf alleen maar 5 sterren
      heeft. Maar in dit geval is het ook 100% waar.

      De verhuurder neemt de tijd om alles uit te leggen en hij heeft al een
      aantal routes van Google Maps uit gezet.

      De boot was schoon en goed onderhouden

      Zeker voor herhaling vatbaar!
  - title: Marie-jose Franken
    description: >-
      Op dinsdag 6 juli een elektrische sloep gehuurd. De dag van te voren al
      netje contact gehad of de verhuur door kon gaan omdat de
      weersvooruitzichten er niet goed uitzagen. Helaas de dag zelf heel veel
      wind na gezamenlijk overleg toch de sloep maar geannuleerd en gelijk het
      geld terug gekregen wat een prima service bedankt Richard!!!
  - title: Sofie Huijs
    description: >-
      Een heerlijke boottocht gehad met 9 personen. Richard de schipper is een
      gezellige en erg vriendelijke man. Er werd gezorgd voor koffie/thee en een
      overheerlijke oranje koek. De omgeving is prachtig en Richard vertelt je
      graag wat meer erover. Heerlijk relaxen op de boot met de vriendinnen, de
      beste dag van onze vakantie. Als je bootje wilt gaan varen dan zou ik
      zeker bij Richard de sloep huren!
banner:
  title: Een heerlijke dag op het water
  button:
    text: Huur nu je sloep
    url: /reserveren
  afbeelding:
    image: /assets/img/uploads/img-6447.JPG
    alt: >-
      Genieten van ruimte, rust en natuur. Een ultieme beleving in Súd West
      Fryslân. Neem bijvoorbeeld je fiets mee in de sloep.
---

<main>
  <section class="index-hero">
    <div class="index-hero__img-container">	
      {% image '/assets/img/index-hero-top.png', hero_afbeelding.alt, "index-hero__img index-hero__img--top", "100vw", "414, 768, 1366, 1920, 2560" %}
      {% image '/assets/img/index-hero-bottom.png', hero_afbeelding.alt, "index-hero__img index-hero__img--bottom", "100vw", "414, 768, 1366, 1920, 2560" %}
    </div>


    <div class="index-hero__banner" x-data="{ showBanner: true }" x-show="showBanner"> 
      <span>
        {{ hero_banner }}
      </span>
      <button type="button" class="material-icons-round" @click="showBanner = false">close</button>
    </div>

    <div class="index-hero__content">
      <h1 class="index-hero__h editable">
        Ontdek waterrijk Friesland!
      </h1>
      <p class="index-hero__p editable">
        Ultiem genieten met of zonder schipper in &eacute;&eacute;n van onze luxe sloepen&nbsp;
      </p>
      <a href="#sloepen" class="index-hero__btn btn btn--primary btn--big editable">Bekijk de sloepen</a>
    </div>
  </section>
  
  <section class="index-sloepen" id="sloepen">
    {% assign sloepen_count = collections.sloepen.size | minus: 1  %}
    {% for i in (0..sloepen_count) %}
      {% assign item = collections.sloepen[i]  %}

      {% capture reserveren_url %}/reserveren/{{ item.fileSlug }} {% endcapture %}

      {% bookshop "card/big" 
        bind: item.data 
        btn_primary_text: "Reserveren" 
        btn_primary_url: reserveren_url 
        btn_secondary_text: "+ Meer info" 
        btn_secondary_url: item.url 
        afbeelding: item.data.gallery[0] 
      %}

    {% endfor %}
  </section>
  
  <section class="index-routes">
    <div class="index-routes__wrapper">
      <div class="index-routes__map">
        {% bookshop "map" url: "https://www.google.com/maps/d/embed?mid=1-Gr8CUtQnISVsPaFX1spJl6q9tp5gW8y&usp=sharing" %}
      </div>
      <div class="index-routes__content">
        <h2 class="index-routes__h editable">
          Routes door waterrijk Friesland
        </h2>
        <p class="index-routes__p editable">
          Sloepverhuur Bolsward heeft een ruime keuze aan mooie routes in het waterland van Friesland geselecteerd welke &nbsp;allemaal starten en eindigen in Bolsward, het middelpunt voor varen over grachten, sloten, vaarten en meren. Eventueel i.c.m.&nbsp;<a href="https://sloepverhuurbolsward.nl/aanbod/catering">catering</a>&nbsp;en diverse&nbsp;<a href="https://sloepverhuurbolsward.nl/aanbod/arrangementen">arrangementen</a>.&nbsp;
        </p>
        <a href="/aanbod/routes" class="index-routes__btn btn btn--primary editable">Bekijk routes</a>
      </div>
    </div>
  </section>

  <section class="index-arrangementen">
    <div class="index-arrangementen__content">
      <h2 class="index-arrangementen__h editable">
        Arrangementen
      </h2>
      <p class="index-arrangementen__p editable">
        Optimaal genieten staat bij ons hoog in het vaandel. Onze arrangementen staan daarom garant voor een ultieme beleving van varen, cultuur en natuur.
      </p>
    </div>

    {% bookshop "carousel/horizontal" live_render: false tag: "arrangementen" %}

  </section>

  <section class="index-reviews" x-data="{ active: 2 }">
    <div class="index-reviews__wrapper">
      <div class="index-reviews__content">
        <h2 class="index-reviews__h editable">
          Reviews
        </h2>
        <p class="index-reviews__p editable">
          Al vele klanten hebben Sloepverhuur Bolsward weten te vinden en gezien de maximale score van 5 sterren naar volle tevredenheid. Mogen wij u ook begroeten?
        </p>
        <a target="_blank" class="index-reviews__btn btn btn--secondary editable" href="https://www.google.com/search?q=sloepverhuurbolsward&sxsrf=AOaemvKi6WuED6ZIDfwVFh5p8y4rm75npg%3A1641475267367&ei=w-zWYZ7kFaiDhbIP5a-80As&oq=sloepv&gs_lcp=Cgdnd3Mtd2l6EAMYADIECCMQJzIECCMQJzIFCAAQywEyBQgAEMsBMgUIABDLATIFCAAQywEyCwguEMcBEK8BEMsBMgUIABDLATIFCAAQywEyBQgAEMsBOgsILhDHARCjAhCRAjoFCAAQkQI6CwguEIAEEMcBENEDOgUIABCABDoKCC4QxwEQrwEQQzoKCC4QxwEQ0QMQQzoECAAQQzoECC4QQ0oECEEYAEoECEYYAFAAWP4DYOMMaABwAngAgAGIAYgBsgWSAQMxLjWYAQCgAQHAAQE&sclient">
          Bekijk op Google
        </a>
      </div>

      {% bookshop "carousel/vertical" list: reviews %}

    </div>
  </section>

  <section class="index-banner"> 
    {% bookshop "banner" bind: banner %}
  </section>
</main>
