<div class="page invoice">
  <div class="document invoice address-left font-family-lucida-grande font-size-small locale-nl">

    <div class="header address-left">
      <div class="logo">
        <img src="...">
      </div>
      <div class="invoice-recipient document-recipient empty-state-invoice">
        <div class="content">
          <span class="contact-full"> Naam ontvanger<br>Adres 123<br>1234AB Plaats </span>
        </div>
      </div>

      <div class="sender-address" data-content="sender-address">
        <ul class="sender-address-container">
          <li class="sender-address-el bold field-company-name">
            <div class="address-content"><span>Bedrijfsnaam: </span> Moneybird B.V.</div>
          </li>
          <li class="sender-address-el field-address">
            <div class="address-content"><span>Adres: </span> Brouwerijstraat 26<br>7523 XD Enschede</div>
          </li>
          <li class="newline">
            <span>Lege regel</span>
          </li>
          <li class="sender-address-el field-email">
            <div class="address-content"><span>E-mail: </span> info@dev.null.moneybird.net</div>
          </li>
          <li class="sender-address-el field-phone">
            <div class="address-content"><span>Telefoon: </span> 0612345678</div>
          </li>
          <li class="newline"><span>Lege regel</span></li>
          <li class="sender-address-el label field-chamber-of-commerce">
            <div class="address-content"><span>KvK: </span> 12345678</div>
          </li>
          <li class="sender-address-el label field-tax-number">
            <div class="address-content"><span>Btw: </span> NL123456789B01</div>
          </li>
          <li class="sender-address-el label field-bank-account-number">
            <div class="address-content"><span>Bank: </span> NL80 TEST 0252 7894 66</div>
          </li>
        </ul>
      </div>
    </div>

    <br class="clear">

    <div class="invoice-header document-header show-reference metadata-margin-1">
      <div class="content">
        <div class="metadata-container">
          <h2>Factuur 2016-0012</h2>
          <p class="contact-name-only">
            <span>Contact: </span>
            <span>Naam ontvanger</span>
          </p>

          <dl class="metadata metadata-left">
            <dt class="reference"><div>Kenmerk:</div></dt>
            <dd class="reference"><div>Redesign huidige website</div></dd>
          </dl>
          <dl class="metadata right document-dates">
            <dt class="invoice-date"><div>Factuurdatum:</div></dt>
            <dd class="invoice-date"><div><em class="draft-date">25-03-2016</em></div></dd>
            <dt class="due-date"><div>Vervaldatum:</div></dt>
            <dd class="due-date"><div>08-04-2016</div></dd>
          </dl>
        </div>

        <br class="clear">
      </div>

      <div class="invoice-details document-details">
        <div class="content">
          <table class="document-details">
            <thead>
              <tr>
                <th></th>
                <th>Omschrijving</th>
                <th class="price">Bedrag</th>
                <th class="price">Totaal</th>
                <th class="price">Btw</th>
              </tr>
            </thead>
            <tbody>
              <tr class="first odd">
                <td class="amount">2</td>
                <td>Consultancykosten</td>
                <td class="price">&euro; 475,50</td>
                <td class="price">&euro; 951,00</td>
                <td class="price">21%</td>
              </tr>
              <tr class="last even">
                <td class="amount">1</td>
                <td>Vormgeving nieuwe website</td>
                <td class="price">&euro; 1.250,90</td>
                <td class="price">&euro; 1.250,90</td>
                <td class="price">21%</td>
              </tr>
              <tr class="tfoot subtotal">
                <td colspan="3" class="total first">Subtotaal</td>
                <td class="price first">&euro; 2.201,90</td>
                <td class="first"></td>
              </tr>
              <tr class="tfoot tax">
                <td colspan="3" class="total tax">21% btw</td>
                <td class="price tax">&euro; 462,40</td>
                <td></td>
              </tr>
              <tr class="tfoot total">
                <td colspan="2"></td>
                <td class="total emphasize ">Totaal</td>
                <td class="price emphasize ">&euro; 2.664,30</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="document-tax-text">
            Intracommunautaire levering, artikel 138, lid 1, Richtlijn 2006/112
        </div>
      </div>

      <div class="invoice-description document-description">
        <div class="content">
          <p class="comments">
            We verzoeken u vriendelijk het bovenstaande bedrag van &euro; 2.664,30 voor 08-04-2016 te voldoen op onze bankrekening onder vermelding van het factuurnummer 2016-0012. Voor vragen kunt u contact opnemen per e-mail.
          </p>
        </div>
      </div>
    </div>
  </div>