.hero-columns {
  @include hero;

  &__content {
    grid-gap: var(--space-500) var(--space-600);

    @include media(2) {
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: $wrapper-max-width;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;

    i {
      font-size: 32px;
      color: $color-secondary;
      margin-bottom: var(--space-100);
      text-shadow: $text-shadow-heading;
    }
  }
}
