---
title: Carousel

carousel:
  - image: https://picsum.photos/400/200?random=1
    alt: My image description
    title: Lorem ipsum
  - image: https://picsum.photos/400/200?random=2
    alt: My image description
    title: Lorem ipsum
  - image: https://picsum.photos/400/200?random=3
    alt: My image description
    title: Lorem ipsum
  - image: https://picsum.photos/400/200?random=4
    alt: My image description
    title: Lorem ipsum
  - image: https://picsum.photos/400/200?random=5
    alt: My image description
    title: Lorem ipsum
  - image: https://picsum.photos/400/200?random=6
    alt: My image description
    title: Lorem ipsum
---

<div class="carousel"
  x-data="{
    skip: 1,
    next() {
      this.to((current, offset) => current + (offset * this.skip))
    },
    prev() {
      this.to((current, offset) => current - (offset * this.skip))
    },
    to(strategy) {
      let slider = this.$refs.slider
      let current = slider.scrollLeft
      let offset = slider.firstElementChild.getBoundingClientRect().width
      
      this.$refs.slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
    },
    focusableWhenVisible: {
      'x-intersect:enter'() {
        this.$el.removeAttribute('tabindex')
      },
      'x-intersect:leave'() {
        this.$el.setAttribute('tabindex', '-1')
      },
    }
  }"
  @keydown.left="prev"
  @keydown.right="next"
>
  <button @click="prev" class="carousel__btn carousel__btn--prev "> ❮ </button>

  <ul x-ref="slider" class="carousel__list" tabindex="0">
    {% for item in carousel %}
      <li class="carousel__item">

        {% bookshop "card/small" title: 'test' %}
<!--         
        <a class=".carousel__item card card--image" x-bind="focusableWhenVisible">
          <img class="card__img" src="{{item.image}}" alt="">
          <div class="card__content">
            <h3 class="card__h3">{{item.title}}</h3>
            <span class="card__btn btn btn--secondary">+ Meer info</span>
          </div>
        </a> -->
      </li>
    {% endfor %}
  </ul>

  <button @click="next" class="carousel__btn carousel__btn--next"> ❯ </button>
</div>