---
title: Forms
---

<form action="" class="form">
  <label class="label">Label</label>
  <input class="input" type="text">
  
  <label class="label">Label</label>
  <textarea class="textarea"></textarea>
  
  <label class="label">Label</label>
  <select class="select">
    <optgroup label="Letters">
      <option>A</option>
      <option>B</option>
    </optgroup>
    <optgroup label="Cijfers">
      <option>1</option>
      <option>2</option>
    </optgroup>
  </select>
  
  <input class="btn btn--primary" type="submit" value="Submit">
</form>