---
title: Toolbar
---

<div class="toolbar">
  <div class="toolbar__content">
    <select class="select" name="Filter">
      <option value="" disabled selected>Select</option>
      <option>A</option>
      <option>B</option>
    </select>
    <input class="input" type="text">
  </div>
</div>
