@use '../abstracts' as *;

.index-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  padding-top: var(--nav-height);
  overflow: hidden;
  position: relative;

  picture {
    flex-grow: 1;
    min-height: 0;

    img {
      height: 100%;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    flex-grow: 1;
    min-height: 0;
  }

  &__banner {
    position: absolute;
    width: 100%;
    left: 0;
    top: var(--nav-height);
    background-color: $color-secondary;
    color: $color-bg-dark;
    display: flex;
    align-items: center;
    padding-left: 50px;

    span {
      padding: var(--space-100) var(--wrapper-padding);
      text-align: center;
      width: 100%;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      width: 50px;
      font-size: 28px !important;

      &:hover {
        background-color: lighten($color-secondary, 14%);
      }
    }
  }

  &__content {
    @extend %wrapper;

    max-width: 100vw !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: var(--space-400) 0 var(--space-400);
    margin-top: $radius-big * -1;
    background: $color-bg-base;
    border-top: $border-base;
    border-radius: $radius-big $radius-big 0 0;
    box-shadow: -20px 0 100px 0 rgba(black, 0.3);
  }
}

.index-sloepen {
  @extend %grid-1-1;
}

.index-routes {
  background: $color-bg-dark;

  &__wrapper {
    @extend %grid-2-1;
  }
  &__map {
    height: 350px;

    @include media(2) {
      height: 600px;
      max-height: calc(100vh - 180px);
    }
  }

  &__content {
    @include media(2) {
      position: sticky;
      top: calc(var(--nav-height) + 40px);
    }
  }
}

.index-arrangementen {
  padding: var(--space-700) 0;

  &__content {
    @extend %wrapper;

    max-width: 700px !important;
    text-align: center;
    margin-bottom: var(--space-500);
  }
}

.index-reviews {
  background: $color-bg-dark;

  &__wrapper {
    @extend %grid-1-1;
    align-items: center;
  }
}

.index-banner {
  @extend %wrapper;
}
