@use '../abstracts' as *;

.index-hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  padding-top: var(--nav-height);

  &__img {
    width: 100%;
    object-fit: cover;
    flex-grow: 1;
    min-height: 0;
  }

  &__content {
    @extend %wrapper;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: var(--space-500);
    margin-top: $radius-big * -1;
    background: $color-bg-base;
    border-top: $border-base;
    border-radius: $radius-big $radius-big 0 0;
  }
}

.index-sloepen {
  @extend %grid-1-1;
}

.index-routes {
  background: $color-bg-dark;

  &__wrapper {
    @extend %grid-2-1;
  }
  &__map {
    height: 350px;

    @include media(2) {
      height: 600px;
      max-height: calc(100vh - 180px);
    }
  }

  &__content {
    @include media(2) {
      position: sticky;
      top: calc(var(--nav-height) + 40px);
    }
  }
}

.index-reviews {
  background: $color-bg-dark;

  &__wrapper {
    @extend %grid-1-1;
    align-items: center;
  }
}

.index-banner {
  @extend %wrapper;
}
