.sloep {
  // padding-top: $nav-height;
  margin: var(--space-700) auto;

  &__banner {
    @extend %wrapper;

    margin: var(--space-700) auto;
  }

  &__content-container {
    @extend %two-one;
  }

  &__content {
    grid-row: 2;

    @include media(2) {
      grid-row: 1;
    }
  }

  &__checklist {
    @include media(2) {
      position: sticky;
      top: var(--space-700);
    }
  }
}
