<div class="c-huren-petter">
</div>


<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<div x-data="{
    value: '01-01-2022',
    init() {
        let picker = flatpickr(this.$refs.picker, {
            mode: 'single',
            inline: true,
            dateFormat: 'd-m-Y',
            defaultDate: this.value,
            onChange: (date, dateString) => {
                this.value = dateString.split(' to ')
            }
        })

        this.$watch('value', () => picker.setDate(this.value))
    },
}">
    <div class="mb-2 font-bold">Date Range:</div>

    <input class="w-full" x-ref="picker" type="text">
</div> -->