<a href="{{ btn_url }}" class="card-small">
  <div class="card-small__img-container">
    {% image afbeelding.image, afbeelding.alt, "card-small__img", "60vw", "300, 440" %}
  </div>
  <div class="card-small__content">
    <h3 class="card-small__h">{{ title }}</h3>
    <span class="card-small__btn btn btn--secondary">{{ btn_text }}</span>
  </div>
</a>