.card-small {
  @include card;

  --card-img-width: 1;

  position: relative;
  justify-content: flex-end;
  overflow: hidden;
  cursor: pointer;

  @include pseudo {
    background: linear-gradient(
      0deg,
      rgba($color-bg-dark, 1) 0%,
      rgba($color-bg-dark, 0) 75%
    );
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    transform: translateY(var(--font-size-400));
    transition: all 0.3s ease;
  }

  &__btn {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &:hover {
    .card-small__content {
      transform: translateY(0);
    }
    .card-small__btn {
      margin-top: var(--space-100);
      visibility: visible;
      opacity: 1;
    }
  }
}
