<div x-data="{ activeAccordionItem: null }" class="accordion">
  {% for item in list %}
    <div x-data="{ 
      id: {{ forloop.index }},
      get expanded() {
        return this.activeAccordionItem === this.id
      },
      set expanded(value) {
        this.activeAccordionItem = value ? this.id : null
      }
    }" 
    role="region" class="accordion__item">
      <button @click="expanded = !expanded" class="accordion__btn" :aria-expanded="expanded">
        <span class="accordion__count">{{ forloop.index }}</span>
        <h3 class="accordion__h">{{ item.data.title }}</h3>
        <i class="accordion__icon material-icons-round" :class="expanded && 'turn'">expand_more</i>
      </button>
      <p x-show="expanded" class="accordion__p" x-collapse.duration.200>{{ item.data.description }}</p>
    </div>
  {% endfor %}
</div>

