.card-review {
  @include card;

  &__stars {
    display: flex;

    i {
      color: $color-primary;
      margin-right: var(--space-100);
    }
  }

  &__p {
    margin: var(--space-200) 0 0;
  }
}
