<div class="card-review">
  <div class="card-review__content">
    <h3 class="card-review__h">{{ title }}</h3>
    <div class="card-review__stars">
      <i class="material-icons-round">star</i>
      <i class="material-icons-round">star</i>
      <i class="material-icons-round">star</i>
      <i class="material-icons-round">star</i>
      <i class="material-icons-round">star</i>
    </div>
    <p class="card-review__p">{{ description }}</p>
  </div>
</div>