.map {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 180px);
  overflow: hidden;
  border-style: inset;
  border-radius: $radius-base;
  background: $color-bg-light;
  border: $border-base;
  box-shadow: $shadow-base;

  iframe {
    height: 100%;
    width: 100%;
  }
}
