---
title: Buttons
---

<div class="card">
  <img class="card__img" src="/assets/img/sampleImg.jpg" alt="">
  <div class="card__content">
    <span class="card__subtitle">Elektrisch - 8 persoons</span>
    <h2 class="card__h2">Petter</h2>
    <p class="card__p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, molestias?</p>
    <div class="btns card__btns">
      <a href="/huren" class="btn btn--primary">Huren</a>
      <a href="" class="btn btn--secondary">+ Meer info</a>
    </div>
  </div>
</div>

<div class="card">
  <img class="card__img" src="/assets/img/sampleImg.jpg" alt="">
  <div class="card__content">
    <h3 class="card__h3">Petter</h3>
    <p class="card__p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, molestias?</p>
    <a href="" class="btn btn--secondary">+ Meer info</a>
  </div>
</div>

<div class="card card--checklist">
  <div class="card__content">
    <h3 class="card__h3">Petter</h3>
    <ul class="card__list">
      <li class="card__item">Item A</li>
      <li class="card__item">Item A</li>
      <li class="card__item">Item A</li>
      <li class="card__item">Item A</li>
    </ul>
  </div>
</div>

<a class="card-image">
  <img class="card-image__img" src="/assets/img/sampleImg.jpg" alt="">
  <div class="card-image__content">
    <h3 class="card-image__h3">Gebrouwen vaart</h3>
    <span href="" class="card-image__btn btn btn--secondary">+ Meer info</span>
  </div>
</a>
