---
eleventyExcludeFromCollections: true
---
<h1>All examples</h1>
<ul>
  {% for item in collections.examples %}
    <li>
      <a href="{{ item.url }}">{{item.fileSlug}}</a>
    </li>
  {% endfor %}
</ul>