<div x-data="{ open: false }">
  <!-- Button -->
  <button @click="open = true" type="button">
      Open modal
  </button>

  <!-- Modal -->
  <template x-teleport="body">
      <div
          x-show="open"
          @keydown.escape.prevent.stop="open = false"
          role="dialog"
          aria-modal="true"
          x-id="['modal-title']"
          :aria-labelledby="$id('modal-title')"
          class="modal"
      >
          <!-- Overlay -->
          <div x-show="open" x-transition.opacity class="modal__overlay"></div>
          
          <!-- Panel -->
          <div
              x-show="open" 
              x-transition
              @click="open = false"
              x-trap.noscroll.inert="open"
              class="modal__panel"
          >
          
          <!-- Place content here and add @click.stop to root element -->

          </div>
      </div>
  </template>
</div>