$nav-breakpoint: 2;
$nav-bg: $color-bg-light;
$nav-border: $border-light;
$nav-color: $color-text-base;
$nav-color-accent: $color-primary;

:root {
  --nav-height: 54px;

  @include media($nav-breakpoint) {
    --nav-height: 62px;
  }
}

.nav {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  background: $nav-bg;
  border-bottom: $nav-border;
  height: var(--nav-height);

  &.open {
    --nav-height: 62px;

    height: 100%;
    background: $color-bg-dark;
  }

  &__wrapper {
    @extend %wrapper;

    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include media($nav-breakpoint) {
      flex-direction: row;
      align-items: flex-center;
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    height: var(--nav-height);
    padding: var(--space-300) 0;
    text-decoration: none;
    font-family: $font-family-secondary;

    img {
      height: 100%;
      margin-right: var(--space-200);
    }

    span {
      display: none;

      @include media(1) {
        display: block;
        color: $color-text-dark;
        font-weight: 700;
      }
    }
  }

  &__menu {
    height: var(--nav-height);
    padding: 0 $wrapper-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-text-light;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 32px !important;

    @include media($nav-breakpoint) {
      display: none !important;
    }
  }
}

.nav-list {
  padding: 0;
  margin: 0;

  @include media($nav-breakpoint) {
    display: flex !important;
    align-items: center;
    padding: var(--space-200) var(--space-300);
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-top: $border-light;

    &:last-of-type {
      border-bottom: $border-light;

      @include media($nav-breakpoint) {
        border: none;
      }
    }

    @include media($nav-breakpoint) {
      border: none;
      align-items: center;
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text-base;
    padding: var(--space-400) 0;

    @include media($nav-breakpoint) {
      border-top: none;
      padding: var(--space-200) var(--space-300);
    }
  }

  &__icon {
    &.turn {
      transform: rotate(180deg);
    }
  }

  &__dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0 0 var(--space-400);

    @include media($nav-breakpoint) {
      background: $color-bg-light;
      position: absolute;
      padding: 0;
      border-radius: $radius-small;
      border: $border-base;
      box-shadow: $shadow-small;
      top: 100%;
    }

    &::before {
      @include media($nav-breakpoint) {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -9;
        bottom: 100%;
        left: 0;
      }
    }
  }

  &__dropdown-link {
    padding: var(--space-300) var(--space-400);
    color: $color-text-dark;

    @include media($nav-breakpoint) {
      padding: var(--space-300);
    }

    &:hover {
      color: $color-text-base;
    }
  }
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  @include media($nav-breakpoint) {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }

  &__btn {
    flex-basis: 100%;
    justify-content: center;
    padding: var(--space-200) var(--space-300);
    margin-bottom: var(--space-300);

    @include media($nav-breakpoint) {
      margin: 0 0 0 var(--space-100);
    }
  }
}
