.card-info {
  @include card;

  &__list {
    list-style: none;
    padding: 0;
    margin: var(--space-300) 0;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--space-200) 0;
  }

  &__h {
    margin: 0;
  }

  &__label {
    margin-right: var(--space-200);
  }

  &__value {
    align-items: flex-end;
    color: $color-secondary;
  }
}
