:root {
  --card-img-width: 1.6;
}

$card-border: $border-base;
$card-radius: $radius-base;

@mixin card {
  border-radius: $card-radius;
  background: $color-bg-light;
  box-shadow: $shadow-base;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &__img-container {
    border: $card-border;
    border-radius: $card-radius $card-radius 0 0;
    width: 100%;
    aspect-ratio: var(--card-img-width);
    overflow: hidden;
    margin-bottom: $card-radius * -1;

    // fallback
    @supports not (aspect-ratio: auto) {
      padding-top: calc(1 / var(--card-img-width) * 100%);
      height: 0;
      position: relative;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: var(--card-img-width);

    // fallback
    @supports not (aspect-ratio: auto) {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: $card-radius;
    background: $color-bg-light;
    border: $card-border;
    padding: var(--space-300);
    box-shadow: 0 -10px 40px 0 rgba(black, 0.5);
  }
}
