$carousel-scollbar-size: 8px;
$carousel-scollbar-color-base: rgba($color-text-base, 0.1);
$carousel-scollbar-color-hover: rgba($color-text-base, 0.4);
$carousel-scollbar-transition: 0.2s ease;

.carousel-horizontal {
  --carousel-columns: 1.2;
  --carousel-space: var(--space-300);

  @include media(1) {
    --carousel-columns: 1.7;
  }
  @include media(2) {
    --carousel-columns: 2;
  }
  @include media(3) {
    --carousel-columns: 3;
  }
  @include media(4) {
    --carousel-columns: 3;
  }
  @include media(4) {
    --carousel-columns: 4;
  }

  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;

  &__wrapper {
    @extend %wrapper;
    padding: 0;
    position: relative;
    width: 100%;

    @include media(2) {
      padding: 0 var(--wrapper-padding);
    }
  }

  &__btn {
    display: none;

    @include media(2) {
      position: absolute;
      display: inline-block;
      z-index: 1;
      top: 36%;
      padding: 0;
      height: 28px;
      width: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--prev {
      left: 10px;
      transform: rotate(90deg);
    }

    &--next {
      right: 10px;
      transform: rotate(-90deg);
    }
  }

  &__list {
    display: flex;
    width: 100%;
    margin: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    transition-property: color;
    padding: 0 0 var(--space-300);
    color: $carousel-scollbar-color-base;
    transition: $carousel-scollbar-transition;
    list-style: none;

    &:hover {
      color: $carousel-scollbar-color-hover;
    }

    &::-webkit-scrollbar {
      height: $carousel-scollbar-size;
    }

    &::-webkit-scrollbar-thumb {
      background-clip: content-box;
      border-radius: 10px;
      box-shadow: inset 0 0 0 10px;
    }

    .container::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }

    .container::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  &__item {
    flex-shrink: 0;
    width: calc(100% / var(--carousel-columns));
    padding-left: var(--carousel-space);

    &:first-of-type {
      padding-left: var(--wrapper-padding);

      @include media(2) {
        padding-left: 0;
      }
    }

    &:last-of-type {
      padding-right: var(--wrapper-padding);

      @include media(2) {
        padding-right: 0;
      }
    }
  }
}
