<div class="hero-base">
  <img src="{{ afbeelding.image }}" alt="{{ afbeelding.omschrijving }}" class="hero-base__img">
  <div class="hero-base__content">
    <h1 class="hero-base__h">{{ title }}</h1>
    <p class="hero-base__p">{{ text }}</p>
  </div>
</div>