/* Should be set according to icon library */
/* Material icons */
$icon-size-300: 18px;
$icon-size-400: 24px;
$icon-size-500: 36px;
$icon-size-600: 48px;
$icon-size-700: 64px;

.icon {
  display: inline-block;
  color: inherit;
  height: $icon-size-400;
  width: $icon-size-400;
  line-height: 1;
}

.icon--chevron {
  border-width: 0.16em 0.16em 0 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include pseudo('before') {
    width: 52%;
    height: 52%;
    margin-top: -26.5%;
    border: solid;
    border-radius: 0 2px 0 0;
    border-width: 2px 2px 0 0;
    transform: rotate(135deg);
  }

  &.turn {
    transform: rotate(180deg);
  }
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}