---
layout: base
---

{% bookshop "hero/base" bind: hero %}


<!-- <div class="toolbar">
  <div class="toolbar__content">
    <select name="Route" class="toolbar__filter" multiple>
      <option value="volvo">Volvo</option>

    </select>
    <input type="text" class="toolbar__search">
  </div>
</div> -->

<div class="grid">

  {{ fileSlug }}

  {% assign omgeving_count = collections.omgeving.size | minus: 1  %}
  {% for i in (0..omgeving_count) %}
    {% assign item = collections.omgeving[i]  %}
    {% bookshop "card/base" bind: item.data  %}
  {% endfor %}
</div>


