---
layout: base
---

{% bookshop "hero/base" bind: hero %}


<!-- <div class="toolbar">
  <div class="toolbar__content">
    <select name="Route" class="toolbar__filter" multiple>
      <option value="volvo">Volvo</option>

    </select>
    <input type="text" class="toolbar__search">
  </div>
</div> -->

<main class="aanbod">



  
  <div class="grid">
    {% assign collection_count = collections[page.fileSlug].size | minus: 1  %}
    {% for i in (0..collection_count) %}
      {% assign item = collections[page.fileSlug][i]  %}
  
      <div x-data="{
        slug: {{ item.fileSlug }},
        title: {{ item.data.title }},
        routes: [],
      }
      ">
        {% bookshop "card/base" bind: item.data  %}
      </div>
    {% endfor %}
  </div>

</main>




