---
layout: base
_info_button: 
  text: Huren
  url: /
---

<div class="aanbod-single">
  <main class="aanbod-single__main">
    <img src="{{ afbeelding.image }}" alt="{{ afbeelding.alt }}" class="aanbod-single__img">
    <div class="aanbod-single__content">
      {{ content}}
    </div>
  </main>

  {% if info.size > 0 %}
    <aside class="aanbod-single__aside">
      {% bookshop "card/info" list: info title: title button: _info_button %}
    </aside>
  {% endif %}
</div>
