---
layout: base.liquid
banner:
  title: Nog meer genieten?
  afbeelding:
    image: /assets/img/uploads/sloep-huren-in-friesland/whatsapp-image-2020-10-28-at-15-43-42-kopie-1.jpeg
    omschrijving: Omschrijving van mijn afbeelding
  button:
    text: Bekijk arrangementen
    url: /arrangementen

_checklist_button: 
  text: Huren
  url: /
---

<main class="sloep">

  {% bookshop "gallery" gallery: gallery %}

  
  <div class="sloep__content-container">
    <div class="sloep__content">
      {{ content }}
    </div>
    <div class="sloep__checklist">
      {% bookshop "card/checklist" bind: checklist title: 'Eigenschappen' button: _checklist_button %}
    </div>
  </div>
  
  <div class="sloep__banner">
    {% bookshop "banner" bind: banner %}
  </div>
  
  {% if timeline %}
    {% bookshop "timeline" list: timeline %}
  {% endif %}
</main>