.hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $nav-height;

  @include pseudo('after') {
    background: rgba($color-bg-dark, 0.65);
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    @extend %wrapper;

    position: relative;
    display: grid;
    text-align: center;
    max-width: 700px;
    margin: var(--space-600) auto;
    z-index: 2;
  }

  &__h {
    text-shadow: $text-shadow-heading;
  }

  &__p {
    text-shadow: $text-shadow-base;
  }

  &__col {
    display: flex;
    flex-direction: column;

    i {
      font-size: $icon-size-600;
      color: $color-secondary;
      margin-bottom: var(--space-100);
      text-shadow: $text-shadow-heading;
    }
  }

  &--cols {
    .hero__content {
      grid-gap: var(--space-500) var(--space-600);

      @include media(2) {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: $wrapper-max-width;
      }
    }
  }
}
