.toolbar {
  position: relative;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;

  padding: var(--space-200) 0;
  background: $color-bg-dark;
  border-bottom: $border-base;

  &__content {
    @extend %wrapper;

    display: flex;
    justify-content: space-between;
  }
}
