<form action="" class="form">
  <label class="label" for="naam">Naam:</label>
  <input class="input" name="naam" type="text">
  
  <label class="label" for="email">Email:</label>
  <input class="input" name="email" type="text">

  <label class="label" for="Telefoonnummer">Telefoonnummer:</label>
  <input class="input" name="telefoonnummer" type="text">

  <label class="label" for="bericht">Bericht:</label>
  <textarea class="textarea" name="bericht"></textarea>
    
  <input class="btn btn--primary" type="submit" value="Verstuur">
</form>