/* Brand */
$color-primary: blue;
$color-secondary: pink;

/* Text */
$color-text-light: #666;
$color-text-base: #333;
$color-text-dark: #000;

/* Backgrounds */
$color-bg-light: #FFFF;
$color-bg-base: #ebebeb;
$color-bg-dark: #bbbbbb;

/* Feedback */
$color-success: green;
$color-error: red;
$color-warning: yellow;

/* UX */
$color-link: cyan;
