/* Families */
$font-family-primary: sans-serif;
$font-family-secondary: serif;
$font-family-tertiary: monospace;

/* Styling */
$font-lineheight-base: 1.6;
$font-lineheight-heading: 1.1;

$font-weight-base: 400;
$font-weight-heading: 700;

:root {
  /* Sizes */
  --font-size-base: 1em;
  --font-size-multiplier: 1.2;

  --font-size-200: calc(var(--font-size-base) / var(--font-size-multiplier) var(--font-size-multiplier));
  --font-size-300: calc(var(--font-size-base) / var(--font-size-multiplier));
  --font-size-400: var(--font-size-base);
  --font-size-500: calc(var(--font-size-base) * var(--font-size-multiplier));
  --font-size-600: calc(var(--font-size-base) * var(--font-size-multiplier) * var(--font-size-multiplier));
  --font-size-700: calc(var(--font-size-base) * var(--font-size-multiplier) * var(--font-size-multiplier) * var(--font-size-multiplier));


  /* Spacing */
  --font-space-base: .75em;
  --font-space-steps: .25em;

  --font-space-200: calc(var(--font-space-base) - var(--font-space-steps) - var(--font-space-steps));
  --font-space-300: calc(var(--font-space-base) - var(--font-space-steps));
  --font-space-400: var(--font-space-base);
  --font-space-500: calc(var(--font-space-base) + var(--font-space-steps));
  --font-space-600: calc(var(--font-space-base) + var(--font-space-steps) + var(--font-space-steps));
  --font-space-700: calc(var(--font-space-base) + var(--font-space-steps) + var(--font-space-steps) + var(--font-space-steps));

  /* Breakpoints */
  @include media(2) {
    // 17px
    --font-size-base: 1.0625em;
  }

  @include media(3) {
    // 18px
    --font-size-base: 1.125em; 
  }
}


h1, h2, h3, h4 {
  font-family: $font-family-secondary;
  color: $color-text-dark;
  font-size: var(--font-size-700);
  line-height: $font-lineheight-heading;
  font-weight: $font-weight-heading;
}

h1 {
  font-size: var(--font-size-700);
  margin: 0 0 var(--font-space-400);
}

h2 {
  font-size: var(--font-size-600);
  margin: 0 0 var(--font-space-400);
}

h3 {
  font-size: var(--font-size-500);
  margin: 0 0 var(--font-space-400);
}

h4 {
  font-size: var(--font-size-400);
  margin: 0 0 var(--font-space-400);
}

p {
  font-size: var(--font-size-400);
  line-height: $font-lineheight-base;
  font-weight: $font-weight-base;
  margin: 0;
}